.home {
  margin-top: 24px;
  padding: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.home h2 {
  margin-bottom: 34px;
}

.home p {
  text-align: left;
  margin-bottom: 24px;
  line-height: 24px;
}
