.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  color: black;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.65);
  font-weight: 600;
}

.result {
  font-size: 20px;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: 1 / 1 / 2 / 5;
  background-color: #858693;
  color: white;
}

.itemA {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 2 / 1 / 3 / 2;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemB {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 2 / 2 / 3 / 3;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemC {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 2 / 3 / 3 / 4;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemD {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5913e;
  grid-area: 2 / 4 / 3 / 5;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.itemE {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 3 / 1 / 4 / 2;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemF {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 3 / 2 / 4 / 3;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemG {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 3 / 3 / 4 / 4;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemH {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5913e;
  grid-area: 3 / 4 / 4 / 5;
  border-bottom: 1px solid #e0e0e0;
}

.itemI {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 4 / 1 / 5 / 2;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemJ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 4 / 2 / 5 / 3;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemK {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 4 / 3 / 5 / 4;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemL {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5913e;
  grid-area: 4 / 4 / 5 / 5;
  border-bottom: 1px solid #e0e0e0;
}

.itemM {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 5 / 1 / 6 / 2;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 5 / 2 / 6 / 3;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemO {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 5 / 3 / 6 / 4;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemP {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5913e;
  grid-area: 5 / 4 / 6 / 5;
  border-bottom: 1px solid #e0e0e0;
}

.itemQ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 6 / 1 / 7 / 3;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemR {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  grid-area: 6 / 3 / 7 / 4;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
}

.itemS {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5913e;
  grid-area: 6 / 4 / 7 / 5;
  border-bottom: 1px solid #e0e0e0;
}
